$base_font: 16px;
$text-color-hover: #afb0f3;



*{
    margin: 0px;
    padding: 0
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}


.chart {
    margin: 20px 0 20px 0;
    padding: 20px 0px 20px 0;

    .barchart{
        .recharts-wrapper {
            font-size: 12px;
        }
    }

    .piechart {
        .inner-piechart {
            display: flex;
            justify-content: center;
            align-items: center;
            .recharts-wrapper {
                font-size: 12px;
            }
        }
    }
}

.productById {
    margin: 10px 0 10px 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    .pagination-inner {
        margin: 0 10px 0 10px;
        button {
            cursor: pointer;
            width: 20px;
            background: none;
            border: none;
            .active {
                color: $text-color-hover;
            }
            &:hover{
                background: $text-color-hover;
            }
        }
    }

}

.cart-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 200px;
        height: auto;
    }
}

.cart-content {
    @extend .cart-img
}